body {
  --twitter-color: #720425;
  --twitter-background: #0b1416;
  background: linear-gradient(135deg, #0b1416, #3e1f32); /* Gradient background */
  color: white;
}

.app {
  display: flex;
  height: 100vh;
  margin-left: 20px;
  margin-right: auto;
  padding: 0 10px;
}
