.feed {
  flex: 0.45;
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
  overflow-y: scroll;
  margin-top: 20px;
  margin-right: 20px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.feed::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.feed {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.feed__header {
  position: sticky;
  top: 0;
  /* background-color: white; */
  z-index: 100;
  /* border: 1px solid var(--twitter-background); */
  background: linear-gradient(135deg, #13161a, #211a23);
  padding: 15px 20px;
  display: flex; /* Make the items inside flex */
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Space items evenly */
  border-bottom: 1px solid var(--twitter-background);
}

.feed__header > h2 {
  font-size: 20px;
  font-weight: 800;
  background: linear-gradient(135deg, #ff8a00, #e52e71); /* Gradient background */
  -webkit-background-clip: text; /* Clip the gradient to the text */
  -webkit-text-fill-color: transparent;
}

.feed__header > button {
  background: linear-gradient(135deg, #ff8a00, #e52e71);
  /* background: linear-gradient(135deg, #0b1416, #3e1f32); */
  color: #fff; /* White text color */
  font-weight: bold;
  border: none;
  padding: 8px 36px;
  border-radius: 999px; /* Round border */
  cursor: pointer;
}

.feed__header > button:hover{
  background: linear-gradient(135deg, #e52e71, #ff8a00);
}