.sidebarOption {
  display: flex;
  align-items: center;
  padding: 10px 20px; /* Adjust padding for spacing */
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth background color transition */
}

.sidebarOption:hover {
  background-color: #1a282d;
  border-radius: 10px;
}

.sidebarOption > .MuiSvgIcon-root {
  font-size: 24px; /* Adjust icon size */
  margin-right: 10px; /* Add space between icon and text */
}

.sidebarOption > h4 {
  font-size: 16px; /* Adjust text size */
  font-weight: 500; /* Adjust font weight */
  margin: 0; /* Remove default margin */
}

.sidebarOption--active {
  color: #0079d3; /* Adjust active item color */
  font-weight: bold; /* Bold font for active item */
}
